POSTGRES_DB=collab_pm
POSTGRES_USER=collab_pm_user
POSTGRES_PASSWORD=collab_pm_password

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/collab_pm?options=-c%20TimeZone=UTC
SPRING_DATASOURCE_USERNAME=collab_pm_user
SPRING_DATASOURCE_PASSWORD=collab_pm_password

KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/collab-pm
